body {
    background-color: #efefef;
    margin: 0px
}
.body-container {
    display: flex;
}
.sidebar-nav {
    width: 33%;
    background-color: grey;
    height: 100vh;
}
.sidebar-header {
    position: relative;
    min-height: 260px;
}
.headshot-image {
    text-align: center;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
}
.headshot {
    border-radius: 50%;
    width: 160px;
    padding-top: 25px;
    height:auto;
}
.my-name {
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding-top: 20px;
}
.nav-links {
    list-style: none;  
}
.nav-links .nav-link {
    list-style: none;
    padding: 20px;
    text-decoration: none;
    color: #f7f7f7;
    font-family: sans-serif;
    font-weight: 600;
}
.nav-links .nav-link li {
    list-style: none;  
}
.content-container {
    padding: 20px 40px;
}