body {
    background-color: #efefef;
    margin: 0px
}
.body-container {
    display: flex;
}
.sidebar-nav {
    width: 33%;
    background-color: #053D23;
    height: 100vh;
}
.sidebar-header {
    position: relative;
    min-height: 260px;
}
.headshot-image {
    text-align: center;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
}
.headshot {
    border-radius: 50%;
    width: 160px;
    padding-top: 25px;
    height:auto;
}
.my-name {
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding-top: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav-links .nav-link {
    list-style: none;
    padding: 20px;
    text-decoration: none;
    color: #f7f7f7;
    font-family: sans-serif;
    font-weight: 600;
    position:relative;
    text-decoration:none;
    display:inline-block;
    max-width: 130px;
    width: 130px;
}
.nav-links .nav-link:after {
    display:block;
    content: '';
    border-bottom: solid 3px gold;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
  }
  .nav-links .nav-link:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
  }
.nav-links .nav-link li {
    list-style: none;
    max-width: 130px;
    width: 130px; 
}
.content-container {
    padding: 20px 40px;
    width: 100%;
    background-color: #fff;
}
.page-title {
    color: #053D;
    background-color: #fff;
    width: 100%;
    font-family: monospace;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 40px;
    border-bottom: 5px solid gold;
}
.intro {
    font-size: 20px;
    font-family: cursive;
    font-family: system-ui;
}
.self-photo-container {
    text-align: center;
    width: 50%;
    margin: auto;
}
.self-photo {
    width: 50%;
    margin: auto;
}
/* Contact Form stuff */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #053D23;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #05311d;
  }